body,html {
    padding:0; 
    margin:0;
    position:relative;
    font-family: tahoma,verdana,arial,helvetica;
    font-size: 10pt;
    min-width: 600px;
}

a{
    text-decoration: none;
}
a img {
    border: none;
}

a:hover{
    text-decoration: underline;
}

a:link,a:visited{
    color: #666699;
}

#layout{
    padding: 5px;
    position: relative;
}

#header {
    height:100px;
    text-align:center;
}

#header_menu {
    height:15px;
    overflow: hidden;
    font-size: 80%;
    background-color: #e8effb;
    padding-right:5px;
}

#header_logo {
    height:85px;
    overflow: hidden;
    background-color: white;
}

#titolo_header{
    height: 85px;
    display: block;
    background-repeat: no-repeat;
    float: left;
}

#login{
    float: right;
}

#center {
    text-align:left;   
}

#center_menu{
    margin-top: 5px;
    height: 15px;
    background-color: #eae9f3;
    margin-left: 155px;
    margin-right: 155px;
    overflow:hidden;
    font-size: 80%;
    text-align: left;
    padding-left:5px;
}

#center_body{
    background-color: white;
    margin-left: 155px;
    margin-right: 155px;
    overflow:hidden;
    padding: 5px;
    border: 1px solid #eae9f3;
}

/*
#left {
    position:absolute; 
    top:105px; 
    left:5px; 
    bottom:0;
    width: 150px;
    z-index: 10;
    height: 500px;
    margin-top: 5px;
    overflow:hidden;
    background-color: #ceddf7;
    text-align:center;
}*/

#right {
    position:absolute; 
    top:105px; 
    right:5px; 
    bottom:0;
    width: 150px;
    z-index: 10;
    height: 500px;
    margin-top: 5px;
    overflow:hidden;
    background-color: #ceddf7;
    text-align:left;
}

#right #title {
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
}

#form_ricerca_base{
    padding: 3px;
    text-align: center;
}

#ricerca_avanzata{
    padding: 3px;
}

#footer {
    margin-left: 155px;
    margin-right: 155px;
    height:40px;
    margin-top: 5px;
    overflow:hidden;
    background-color: green;
    text-align:center;
    font-size: 90%;
    background-color: #e8effb;
    padding: 5px;
}

.messaggio{
    background-color: #94b4ed;
    padding: 5px;
}

.page_title{
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-top: 5px;
    font-size: 15px;
}

.homepage_book{
    border: 1px solid;
    padding: 5px;
}

#alert{
    font-size: 11px;
    font-style: oblique;
}

.prestito_link{
    color: blue !important;
}