<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>index.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Silvio D'Orazio - Simone Potenza - Giacomo Lamonaco</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <filter>
        <filter-name>postfilter</filter-name>
        <filter-class>it.univaq.idw.librionline.framework.util.MultipartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>postfilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ricerca</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Ricerca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiSiamo</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.ChiSiamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatoConnessione</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.StatoConnessione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ricerca</servlet-name>
        <url-pattern>/Ricerca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiSiamo</servlet-name>
        <url-pattern>/ChiSiamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatoConnessione</servlet-name>
        <url-pattern>/StatoConnessione</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
