<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>index.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Silvio D'Orazio - Giacomo Lamonaco</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>copieelettroniche</param-name>
        <param-value>copie_elettroniche</param-value>
    </context-param>
    <filter>
        <filter-name>postfilter</filter-name>
        <filter-class>it.univaq.idw.librionline.framework.util.MultipartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>postfilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ricerca</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Ricerca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatoConnessione</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.StatoConnessione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedaDettaglioLibro</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.SchedaDettaglioLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaLibroTag</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.RicercaLibroTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaLibroAutore</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.RicercaLibroAutore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Libri</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Libri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciLibro</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciTag</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciAutore</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciAutore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Storico</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Storico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestitiAttiviLibro</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.PrestitiAttiviLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestitiPassiviLibro</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.PrestitiPassiviLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prestito</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Prestito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedaUtente</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.SchedaUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestitiTotali</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.PrestitiTotali</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciLingua</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciLingua</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaUtente</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.RicercaUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiudiPrestito</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.ChiudiPrestito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciStato</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciStato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciVolume</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciVolume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciVolume2</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.InserisciVolume2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inserisci</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Inserisci</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visualizza</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.Visualizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaStati</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaStati</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStato</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.UpdateStato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaAutori</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaAutori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAutore</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.UpdateAutore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaTag</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaLingue</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaLingue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLingua</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.UpdateLingua</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTag</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.UpdateTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaLibri</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaLibri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLibro</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.UpdateLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaVolume</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaVolume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaVolume2</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.VisualizzaVolume2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVolumi</servlet-name>
        <servlet-class>it.univaq.idw.librionline.controller.UpdateVolumi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ricerca</servlet-name>
        <url-pattern>/Ricerca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatoConnessione</servlet-name>
        <url-pattern>/StatoConnessione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedaDettaglioLibro</servlet-name>
        <url-pattern>/SchedaDettaglioLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaLibroAutore</servlet-name>
        <url-pattern>/RicercaLibroAutore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaLibroTag</servlet-name>
        <url-pattern>/RicercaLibroTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Libri</servlet-name>
        <url-pattern>/Libri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciLibro</servlet-name>
        <url-pattern>/InserisciLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciTag</servlet-name>
        <url-pattern>/InserisciTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciAutore</servlet-name>
        <url-pattern>/InserisciAutore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Storico</servlet-name>
        <url-pattern>/Storico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestitiAttiviLibro</servlet-name>
        <url-pattern>/PrestitiAttiviLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestitiPassiviLibro</servlet-name>
        <url-pattern>/PrestitiPassiviLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prestito</servlet-name>
        <url-pattern>/Prestito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedaUtente</servlet-name>
        <url-pattern>/SchedaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestitiTotali</servlet-name>
        <url-pattern>/PrestitiTotali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciLingua</servlet-name>
        <url-pattern>/InserisciLingua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaUtente</servlet-name>
        <url-pattern>/RicercaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiudiPrestito</servlet-name>
        <url-pattern>/ChiudiPrestito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciStato</servlet-name>
        <url-pattern>/InserisciStato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciVolume</servlet-name>
        <url-pattern>/InserisciVolume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciVolume2</servlet-name>
        <url-pattern>/InserisciVolume2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inserisci</servlet-name>
        <url-pattern>/Inserisci</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visualizza</servlet-name>
        <url-pattern>/Visualizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaStati</servlet-name>
        <url-pattern>/VisualizzaStati</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStato</servlet-name>
        <url-pattern>/UpdateStato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaAutori</servlet-name>
        <url-pattern>/VisualizzaAutori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAutore</servlet-name>
        <url-pattern>/UpdateAutore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaTag</servlet-name>
        <url-pattern>/VisualizzaTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaLingue</servlet-name>
        <url-pattern>/VisualizzaLingue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLingua</servlet-name>
        <url-pattern>/UpdateLingua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTag</servlet-name>
        <url-pattern>/UpdateTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaLibri</servlet-name>
        <url-pattern>/VisualizzaLibri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLibro</servlet-name>
        <url-pattern>/UpdateLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaVolume</servlet-name>
        <url-pattern>/VisualizzaVolume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaVolume2</servlet-name>
        <url-pattern>/VisualizzaVolume2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVolumi</servlet-name>
        <url-pattern>/UpdateVolumi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
