<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="IDWLibriOnlinePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>it.univaq.idw.librionline.model.impl.LibroMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.GruppoMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.CopiaelettronicaMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.LinguaMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.PrestitoMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.ServizioMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.StatoMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.TagMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.UserMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.VolumeMysqlImpl</class>
    <class>it.univaq.idw.librionline.model.impl.AutoreMysqlImpl</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/LibriOnLine"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="eclipselink.jdbc.read-connections.max" value="10"/>
      <property name="eclipselink.jdbc.read-connections.min" value="5"/>
      <property name="eclipselink.jdbc.write-connections.max" value="5"/>
      <property name="eclipselink.jdbc.write-connections.min" value="3"/>
      <property name="eclipselink.cache.type.default" value="SoftWeak"/>
    </properties>
  </persistence-unit>
</persistence>
