<h2 class="page_title"> Modifica di un libro nella biblioteca </h2>
<#if (stato_log??)>
    <#if bibliotecario>
    <#if (messaggio??)>
        <div class="messaggio">
            <p><strong>${messaggio}</strong></p>
        </div>
        <div><br /></div>
    </#if>
    <form action="UpdateLibro"  enctype="multipart/form-data" method="post" id="updatebook" name="update">
        <fieldset><legend>Dati libro</legend>
            <input type="hidden" name="updatebook_isbn" id="updatebook_isbn" value="${libro.isbn}" /> <br /> <br />
            <label>Titolo</label> <input type="text" name="updatebook_titolo" id="updatebook_titolo" maxlength="50" size ="50" value="${libro.titolo}" /> <br /> <br />
            <label>Editore</label> <input type="text" name="updatebook_editore" id="updatebook_editore" maxlength="25" size ="25" value="${libro.editore}" /> <br /> <br />
            <label>Anno Pubblicazione</label> <input type="text" name="updatebook_annopubblicazione" id="updatebook_annopubblicazione" maxlength="4" size ="5" value="${libro.annoPubblicazione}" /> <br /> <br />
            <label>Recensione</label> <br />
            <textarea id="updatebook_recensione" name="notrequired" rows="10" cols="100" >${libro.recensione}</textarea> <br /> <br />
            <p><label>Lingua</label> - Se non c'&egrave; una lingua puoi accedere a questa <a href="InserisciLingua">pagina</a> per inserirla </p> 
            <select name="updatebook_lingua">
                <option value="${libro.lingua.id}">${libro.lingua.lingua}</option>
            </select> <br /> <br />
            <p><span class="withtooltip"><label>Autori</label><span class="tooltip"><span class="hidewithcss"> (</span>puoi selezionare anche pi&ugrave; autori, <i>basta tener premuto il tasto "Ctrl"</i><span class="hidewithcss">)</span></span></span> - Se non c'&egrave; un autore puoi accedere a questa <a href="InserisciAutore">pagina</a> per inserirlo</p>
            <select name="updatebook_autore" multiple="multiple">
                <#list autori as autore>
                <option value="${autore.id}" selected="selected">${autore.cognome} ${autore.nome}</option>
                </#list>
                <#list autorinotautori as autorenotautore>
                    <option value="${autorenotautore.id}">${autorenotautore.cognome} ${autorenotautore.nome}</option>
                </#list>
            </select> <br /> <br />
            <p><span class="withtooltip"><label>Tag</label><span class="tooltip"><span class="hidewithcss"> (</span>puoi selezionare anche pi&ugrave; tag, <i>basta tener premuto il tasto "Ctrl"</i><span class="hidewithcss">)</span></span></span> - Se non c'&egrave; un tag puoi accedere a questa <a href="InserisciTag">pagina</a> per inserirlo</p>      
            <select name="updatebook_tag" size="3" multiple="multiple">
                <#list tags as tag>
                    <option value="${tag.id}" selected="selected">${tag.tag}</option>
                </#list>
                <#list tagsnottags as tagnottag>
                    <option value="${tagnottag.id}">${tagnottag.tag}</option>
                </#list>
            </select>
        </fieldset> <div> <br /> </div>
        <div>
            <br />
            <input type="submit" value="Modifica Libro" name="Modifica Libro" id="modifica"/>
            <input type="submit" value="Elimina Libro" name="Modifica Libro" id="elimina"/>
            <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    </#if>
</#if>