<h2 class="page_title"> Autori </h2>
<p>Cliccare su di un autore per modificarlo o eliminarlo.</p>
<#if (stato_log??)>
<#if bibliotecario>
<#if (autori??)>
<div id="page_container_visualizzalibri" class="container">
<div class="page_navigation"></div>
    <ul class="content">
    <#list autori as autore>
        <li><a href="UpdateAutore?id=${autore.id}">${autore.cognome} ${autore.nome}</a></li>
    </#list>
    </ul>
</div>
<#else>
    <p><em>Nota: Nessun autore presente</em></p>
</#if>
</#if>
</#if>