<h2 class="page_title"> Inserimento di un autore </h2>
<#if (stato_log??)>
    <#if bibliotecario>
    <#if (messaggio??)>
        <div class="messaggio">
            <p><strong>${messaggio}</strong></p>
        </div>
        <div><br /></div>
    </#if>
    <form action="InserisciAutore" method="get" id="insertauthor">
        <fieldset><legend>Dati Autore</legend>
            <br />
            <label>Cognome</label> <input type="text" name="insertauthor_cognome" id="insertauthor_cognome" maxlength="50" /> <br /> <br />
            <label>Nome</label> <input type="text" name="insertauthor_nome" id="insertauthor_nome" maxlength="50" /> <br />
            <br />
        </fieldset>
        <div>
            <br />
            <input type="submit" value="Inserisci Autore" name="Inserisci Autore" />
            <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    </#if>
</#if>