<h2 class="page_title"> Inserimento di un volume </h2>
<#if (stato_log??)>
    <#if bibliotecario>
        <#if (messaggio??)>
        <div class="messaggio">
            <p><strong>${messaggio}</strong></p>
        </div>
        <div><br /></div>
        </#if>
    <form action="InserisciVolume" method="get" id="insertvol">
        <fieldset><legend>Volume</legend>
            <br />
            <select name="insertvol_stato">
                <#list stati as stato>
                <option value="${stato.id}">${stato.stato}</option>
                </#list>
            </select> <br /> <br />
            <label>DurataMax</label> <input type="text" name="insertvol_duratamax" id="insertvol_duratamax" value="30" maxlength="11" /> <br /> <br />
            <select name="insertvol_libro">
                <#list libri as libro>
                <option value="${libro.isbn}">${libro.titolo}</option>
                </#list>
            </select> 
            <br />
        </fieldset>
        <div>
            <br />
            <input type="submit" value="Inserisci Volume" name="Inserisci Volume" />
            <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    </#if>
</#if>