<h2 class="page_title"> Inserimento di un tag </h2>
<#if (stato_log??)>
    <#if bibliotecario>
    <form action="InserisciTag" method="get" id="inserttag">
        <fieldset><legend>Tag</legend>
            <br />
            <label>Tag</label> <input type="text" name="inserttag_tag" id="inserttag_tag" maxlength="50" /> <br />
            <br />
        </fieldset>
        <div>
            <br />
            <input type="submit" value="Inserisci Tag" name="Inserisci Tag" />
            <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    </#if>
</#if>