<h2 class="page_title"> Ricerca utente </h2>

<form action="VisualizzaUtente" method="post" enctype="multipart/form-data" id="backoffice_ricerca_utente">
    <div>
    <fieldset><legend>Dati utente</legend>
        <br />
        <label>Username</label> <input type="text" name="backoffice_ricerca_utente_username" id="backoffice_ricerca_utente_username" maxlength="25" /> <br /> <br />
    </fieldset> <br />
    <input type="submit" value="Ricerca Utente" name="Ricerca Utente" /> 
    <input type="reset" value="Reset" name="Cancella" />
    </div>
</form>