<h2 class="page_title"> Inserimento volumi </h2>
<#if (stato_log??)>
    <#if bibliotecario>
        <#if (messaggio??)>
        <div class="messaggio">
            <p><strong>${messaggio}</strong></p>
        </div>
        <div><br /></div>
        </#if>
    <form action="InserisciVolume2" method="get" id="insertvol">
        <fieldset><legend>Dati Volume</legend>
            <br />
            <input type="hidden" value="${isbn}" name="insertvol_isbn" id="insertvol_isbn" />
            <label>Numero volumi: </label><input type="text" name="insertvol_numerocopie" id="insertvol_numerocopie" value="1" size="2" maxlength="3"/>
            <label>Stato: </label>
            <select name="insertvol_stato">
                <#list stati as stato>
                <option value="${stato.id}">${stato.stato}</option>
                </#list>
            </select>
            <label> Durata massima:</label> <input type="text" name="insertvol_duratamax" id="insertvol_duratamax" value="30" size="2" maxlength="2" />
        </fieldset>
        <div>
            <br />
            <input type="submit" value="Inserisci Volume" name="Inserisci Volume" />
            <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    </#if>
</#if>