<h2 class="page_title"> Modifica volume </h2>
<#if (stato_log??)>
    <#if bibliotecario>
        <#if (messaggio??)>
        <div class="messaggio">
            <p><strong>${messaggio}</strong></p>
        </div>
        <div><br /></div>
        </#if>
    <form action="UpdateVolumi" method="get" id="updatevol">
        <fieldset><legend>Dati Volume</legend>
            <br />
            <input type="hidden" value="${volume.id}" name="updatevol_id" id="updatevol_id" />
            <label>Stato: </label>
            <select name="updatevol_stato">
                <option value="${volume.stato.id}" selected="selected">${volume.stato.stato}</option>
                <#if statinotstati??>
                <#list statinotstati as statonotstato>
                <option value="${statonotstato.id}">${statonotstato.stato}</option>
                </#list>
                </#if>
            </select>
            <br /><br />
            <label> Durata massima:</label> <input type="text" name="updatevol_duratamax" id="updatevol_duratamax" value="${volume.durataMax}" size="2" maxlength="2" />
            <input type="hidden" value="${volume.libro.isbn}" name="updatevol_isbn" id="updatevol_isbn" />
        </fieldset>
        <div>
            <br />
            <input type="submit" value="Modifica Volume" name="Modifica Volume" />
            <input type="submit" value="Elimina Volume" name="Modifica Volume" />
            <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    </#if>
</#if>