<h2 class="page_title"> Sistema di Registrazione </h2>
<br />
<#if (messaggio??)>
    <div class="messaggio">
        <p><strong>${messaggio}</strong></p>
    </div>
    <div><br /></div>
</#if>
<#if (stato_log??)>
<#if bibliotecario>
<form action="Registrazione" method="post" enctype="multipart/form-data" id="registrazione">
    <div>
    <fieldset><legend>Dati registrazione</legend>
        <br />
        <label>Username</label> <input type="text" name="registrazione_username" id="registrazione_username" maxlength="25" />
        <label>Password</label> <input type="password" name="registrazione_password" id="registrazione_password" maxlength="32" /> <br /> <br />
        <label>Email</label> <input type="text" name="registrazione_email" id="registrazione_email" size="30" maxlength="25" /> <br /> <br />
        <label>Telefono</label> <input type="text" name="registrazione_telefono" id="registrazione_telefono" size="20" maxlength="25" /> <br /> <br />
    </fieldset> 
    <br />
    <fieldset><legend>Anagrafica utente</legend>
        <br />
        <label>Nome</label> <input type="text" name="registrazione_nome" id="registrazione_nome" size="25" maxlength="25" />
        <label>Cognome</label> <input type="text" name="registrazione_cognome" id="registrazione_cognome" size="25" maxlength="25" /> <br /> <br />
        <label>Codice Fiscale</label> <input type="text" name="registrazione_codicefiscale" id="registrazione_codicefiscale" size="25" maxlength="16" /> <br /> <br />
        <label>Indirizzo</label> <input type="text" name="registrazione_indirizzo" id="registrazione_indirizzo" size="49" maxlength="50" /> <br /> <br />
        <label>Citt&agrave;</label> <input type="text" name="registrazione_citta" id="registrazione_citta" maxlength="50" />
        <label>Provincia</label> <input type="text" name="registrazione_provincia" id="registrazione_provincia" size="1" maxlength="2" />
        <label>CAP</label> <input type="text" name="registrazione_cap" id="registrazione_cap" size="4" maxlength="5" /> <br /> <br />
    </fieldset>
    <br />
    <fieldset><legend>Gruppo utente</legend>
        <br />
        <label>Gruppo</label> 
        <select name="registrazione_gruppo">
            <#list gruppi as gruppo>
                <option value="${gruppo.id}">${gruppo.gruppo}</option>
            </#list>
        </select>
    </fieldset>
    <br />
    <input type="submit" value="Registrazione" name="Registrazione" /> 
    <input type="reset" value="Reset" name="Cancella" />
    </div>
</form>
</#if>
</#if>