<h2 class="page_title"> Prestito </h2>
<#if (stato_log??)>
<#if bibliotecario>
<form action="Prestito" method="post" enctype="multipart/form-data" id="form_prestito">
    <fieldset><legend>Dati del libro</legend>
        <input type="hidden" value="${isbn}" name="prestito_isbn" id="prestito_isbn" />
        <#if prestitivolumi??>
        <p><label>Volumi disponibili: </label></p>
        <select name="prestito_volumi">
            <#list prestitivolumi as prestitovolume>
                <option value="${prestitovolume.id}">Titolo: ${prestitovolume.libro.titolo} - ID Copia: ${prestitovolume.id} - Stato: ${prestitovolume.stato.stato!"Stato non presente"}</option>
            </#list>
        </select> <br /> <br />
        <#else>
            <p><em>Nessun volume del libro disponibile</em></p>
        </#if>
        <label> Durata Prestito: </label> <input type="text" name="prestito_duratamax" id="prestito_duratamax" value="30" maxlength="2" size="2" />
        <p><label>Utenti:</label></p>
        <select name="prestito_utenti">
            <#list prestitiusers as prestitouser>
            <option value="${prestitouser.id}">${prestitouser.username}</option>
            </#list>
        </select> <br /> <br />
    </fieldset>
    <div>
    <br />
    <input type="submit" value="Conferma Prestito" name="Conferma Prestito" /> 
    <input type="reset" value="Reset" name="Cancella" />
    </div>
</form>
</#if>
</#if>