<h2 class="page_title"> Ricerca avanzata </h2>

<form action="Ricerca" method="get" id="form_ricerca_avanzata">
   <div>
   <fieldset><legend>Ricerca Titolo</legend>
       <label>Titolo</label> <input type="text" size="40" name="titolo_avanzato" id="titolo_avanzato" />
   </fieldset>
   <br/>
   <fieldset><legend>Ricerca Tag</legend>
       <span class="withtooltip"><label>Tag</label><span class="tooltip"><span class="hidewithcss"> (</span>puoi fare anche la ricerca di pi&ugrave; tag, <i>basta scriverli separati da uno spazio</i><span class="hidewithcss">)</span></span></span> <input type="text" size="40" name="tag_avanzato" id="tag_avanzato"/>
   </fieldset>
   <br />
   <fieldset><legend>Ricerca Autore</legend>
       <span class="withtooltip"><label>Autore</label><span class="tooltip"><span class="hidewithcss"> (</span>puoi fare anche la ricerca di pi&ugrave; autori, <i>basta scriverli separati da uno spazio</i><span class="hidewithcss">)</span></span></span> <input type="text" size="40" name="autore_avanzato" id="autore_avanzato"/>
   </fieldset>
   <br />
   <fieldset><legend>Ricerca ISBN</legend>
       <label>Codice ISBN-13</label> <input type="text" size="20" maxlength="13" name="isbn_avanzato" id="isbn_avanzato"/>
   </fieldset>
   <br />
   <input type="submit" value="Ricerca avanzata" name="Invia" /> 
   <input type="reset" value="Cancella Modulo" name="Cancella" />
   </div>
</form>
