<h2> Sistema di Autenticazione </h2>
<p> Usa il tuo username e la tua password qui sotto per fare il Login. </p>
<p> Se non sei ancora registrato, puoi registrarti seguendo questo link: <a href="Registrazione">Registrati</a></p>
<form action="Login" method="post" enctype="multipart/form-data" id="form_login">
    <#if (messaggio??)>
    <div class="messaggio">
        <p><b>${messaggio}</b></p>
    </div>
    </#if>
    <br />
    <div>
    <fieldset><legend>Dati di autenticazione</legend>
        <br />
        <label>Username</label> <input type="text" name="username" id="user" maxlength="25" /> <br /> <br />
        <label>Password</label> <input type="password" name="password" id="pass" maxlength="25" />
    </fieldset> <br />
    <input type="submit" value="Login" name="Login" /> 
    <input type="reset" value="Cancella Modulo" name="Cancella" />
    </div>
</form>