<h2> Homepage </h2>

<div style="border: 1px solid;"> 
    <p>Qui avremo, per gli utenti registrati, i libri da riconsegnare a breve</p>
    <p>Qui avremo, per gli utenti registrati, i libri da riconsegnare a breve</p>
    <p>Qui avremo, per gli utenti registrati, i libri da riconsegnare a breve</p>
    <p>Qui avremo, per gli utenti registrati, i libri da riconsegnare a breve</p>
    <p>Qui avremo, per gli utenti registrati, i libri da riconsegnare a breve</p>
</div>
<br />
<div style="border: 1px solid;"> 
    <p>Qui avremo gli ultimi libri aggiunti alla biblioteca</p>
    <p>Qui avremo gli ultimi libri aggiunti alla biblioteca</p>
    <p>Qui avremo gli ultimi libri aggiunti alla biblioteca</p>
    <p>Qui avremo gli ultimi libri aggiunti alla biblioteca</p>
    <p>Qui avremo gli ultimi libri aggiunti alla biblioteca</p>
</div>
<br />
<div style="border: 1px solid;"> 
    <p>Qui avremo i libri maggiormente prestati</p>
    <p>Qui avremo i libri maggiormente prestati</p>
    <p>Qui avremo i libri maggiormente prestati</p>
    <p>Qui avremo i libri maggiormente prestati</p>
    <p>Qui avremo i libri maggiormente prestati</p>
</div>