<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="style/style.css" type="text/css"/>
        <link rel="SHORTCUT ICON" href="img/libro.gif" type="image/x-icon" />
        <title>LibriOnLine</title>	
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
        <meta name="description" content="Biblioteca LibriOnLine" />
        <meta name="keywords" content="biblioteca,librionline,libri,libro,italy" />
        <meta content="IT" http-equiv="Content-Language" />
    </head>
    <body>
        <div id="layout">
            <div id="header">
                <div id="header_menu">
                        <a id="login" href="#">login</a>
                </div>
                <div id="header_logo"> 
                    <a id="titolo_header" href="#"><img src="img/header2.png" alt="LibriOnLine" /></a>
                </div>
            </div>
            <div class="menu">
                <div class="title">Navigazione</div>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Chi siamo</a></li>			
                        <li><a href="#">Libri</a></li>
                        <li><a href="#">Contatti</a></li>
                    </ul>
            </div>
            <div id="right">
                <div id="title">Ricerca</div>
                <br />
                <form id="ricerca" method="get" action="#" >
                    <input type="text" value="Titolo del libro" name="titolo" size="18" />
                    <input type="submit" value="Ricerca" />
                </form>
                <div id="ricerca_avanzata">
                    <a href="#">Ricerca avanzata</a>
                </div>
                <hr />
            </div>
            <div id="center">
                <div id="center_menu">
                    Navigazione
                </div>
                <div id="center_body">
                    
                    <#include content_tpl>
                    
                </div>
            </div>
            <div id="footer">
                Copyright &copy; 2011 LibriOnLine
            </div>
        </div>	
    </body>
</html>