<h2 class="page_title"> Prestiti In Corso </h2>
<p>Lista dei volumi presi in prestito e non ancora restituiti</p>
<#if stato_log??>
<#if !bibliotecario>
<#if (prestitiattiviuser??)>
<div id="page_container_listaprestitiuser" class="container">
<div class="page_navigation"></div>
<ul class="content">
<#list prestitiattiviuser as prestitoattivouser>
    <#if prestitoattivouser.expired>
    <li style="color:red"> <strong>PRESTITO SCADUTO</strong> - <em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitoattivouser.volume.libro.isbn}">${prestitoattivouser.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitoattivouser.dataPrestito?date} - <em>Dovevi restituirlo entro il:</em> ${prestitoattivouser.dataPresuntaRestituzione?date}</li>
    <#else>
    <li><em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitoattivouser.volume.libro.isbn}">${prestitoattivouser.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitoattivouser.dataPrestito?date} - <em>Restituire entro il:</em> ${prestitoattivouser.dataPresuntaRestituzione?date}</li>
    </#if>
</#list>
</ul>
</div>
<#else>
    <p><em>Nota: Nessun libro da riconsegnare nella biblioteca </em></p>
</#if>
</#if>
</#if>