<h2 class="page_title"> Scheda dettaglio libro</h2>
<#if (libro??)>
<p> <strong> ISBN: </strong> ${libro.isbn} </p>
<p> <strong> Titolo del libro: </strong> ${libro.titolo!"Non presente"} </p>
<p> <strong> Editore: </strong> ${libro.editore!"Non presente"} </p>
<p> <strong> Anno di Pubblicazione: </strong> ${libro.annoPubblicazione?string("yyyy")!"Non presente"} </p>
<p> <strong> Recensione: </strong> ${libro.recensione!"Non presente"} </p>
<p> <strong> Lingua: </strong> ${lingua.lingua} </p>
<p> <strong> Autore: </strong>
    <#list autori as autore>
        <a href="RicercaLibroAutore?id=${autore.id}">${autore.cognome!"Nessun autore trovato"} ${autore.nome!"Nessun autore trovato"}</a>
    <#if autore_has_next>, </#if>
    </#list>
</p>
<p> <strong> Tag associati: </strong>
    <#list tags as tag>
        <a href="RicercaLibroTag?tag=${tag.tag}">${tag.tag!"Nessun tag trovato"}</a>
    <#if tag_has_next>, </#if>
    </#list>
</p>

<#if (copietotali??)>
    <p> <strong> Copie Totali: </strong> ${copietotali} </p>
</#if>

<#if (copiedisponibili??)>
<p> <strong> Copie Disponibili: </strong> ${copiedisponibili}</p> 
</#if>
<#if (copiedisponibili>0)>
<#if (stato_log??)> 
    <#if bibliotecario>
    <form action="Prestito" method="get">
        <div>
        <input type="hidden" value="${libro.isbn}" name="isbn" />
        <input type="submit" value="Procedi con il prestito" name="Invia"/>
        </div>
    </form> 
    </#if>
    <br />
</#if> 
</#if>

<#if (datapresuntarestituzione??)>
<p> <strong> Data Presunta Restituzione</strong> (<i>pi&ugrave; vicina</i>)<strong> :</strong> ${datapresuntarestituzione?date} </p>
</#if>


<#if (stato_log??)> 
    <#if bibliotecario>
    <strong> Verifica: </strong> <a href="PrestitiAttiviLibro?isbn=${libro.isbn}">Prestiti Presenti</a> - <a href="PrestitiPassiviLibro?isbn=${libro.isbn}">Prestiti Passati</a>
    </#if> 
</#if>
</#if>