<h2 class="page_title"> Scheda dettaglio libro</h2>
<#if (libro??)>
<p> <b> ISBN: </b> ${libro.isbn} </p>
<p> <b> Titolo del libro: </b> ${libro.titolo!"Non presente"} </p>
<p> <b> Editore: </b> ${libro.editore!"Non presente"} </p>
<p> <b> Anno di Pubblicazione: </b> ${libro.annoPubblicazione?string("yyyy")!"Non presente"} </p>
<p> <b> Recensione: </b> ${libro.recensione!"Non presente"} </p>
<p> <b> Lingua: </b> ${lingua.lingua} </p>
<p> <b> Autore: </b>
    <#list autori as autore>
        <a href="RicercaLibroAutore?id=${autore.id}">${autore.cognome!"Nessun autore trovato"} ${autore.nome!"Nessun autore trovato"}</a>
    <#if autore_has_next>, </#if>
    </#list>
</p>
<p> <b> Tag associati: </b>
    <#list tags as tag>
        <a href="RicercaLibroTag?tag=${tag.tag}">${tag.tag!"Nessun tag trovato"}</a>
    <#if tag_has_next>, </#if>
    </#list>
</p>

<#if (copietotali??)>
    <p> <b> Copie Totali: </b> ${copietotali} </p>
</#if>

<#if (copiedisponibili??)>
    <p> <b> Copie Disponibili: </b> ${copiedisponibili} </p>
</#if>

<#if (datapresuntarestituzione??)>
<p> <b> Data Presunta Restituzione</b> (<i>pi&ugrave; vicina</i>)<b> :</b> ${datapresuntarestituzione?date} </p>
</#if>

</#if>