.hidewithcss {
    display: none;
}

.withtooltip {
    border-bottom-width: 1px;
    border-bottom-style: dashed;	
    cursor: help;
    position: relative;
    text-decoration: none;
    color: black;
}	

.tooltip {
    display: none;	
    position: absolute;
    z-index:5;
    width: 120px;
    max-width: 120px;
    height: auto;
    left: 1.5em;
    top: 1.5em;
    border: 1px solid black;
    background-color: yellow;
    color: black;
    font-size: 80%;
    overflow: hidden;
}

.withtooltip:hover .tooltip {
    display: block;	
}