<h2 class="page_title"> Sistema di Registrazione </h2>
<p> Se non ti sei ancora registrato fallo adesso. Basta compilare i campi sottostanti. </p>
<form action="Registrazione" method="post" enctype="multipart/form-data" id="registrazione">
    <#if (messaggio??)>
    <div class="messaggio">
        <p><strong>${messaggio}</strong></p>
    </div>
    <div><br /></div>
    </#if>
    <div>
    <fieldset><legend>Dati registrazione</legend>
        <br />
        <label>Username</label> <input type="text" name="user_reg" id="user_reg" maxlength="25" />
        <label>Password</label> <input type="password" name="pass_reg" id="pass_reg" maxlength="32" /> <br /> <br />
        <label>Email</label> <input type="text" name="email" id="email" size="30" maxlength="25" /> <br /> <br />
        <label>Telefono</label> <input type="text" name="tel" id="tel" size="20" maxlength="25" /> <br /> <br />
    </fieldset> 
    <br />
    <fieldset><legend>Anagrafica utente</legend>
        <br />
        <label>Nome</label> <input type="text" name="nome" id="nome" size="25" maxlength="25" />
        <label>Cognome</label> <input type="text" name="cognome" id="cognome" size="25" maxlength="25" /> <br /> <br />
        <label>Codice Fiscale</label> <input type="text" name="codicefiscale" id="codicefiscale" size="25" maxlength="16" /> <br /> <br />
        <label>Indirizzo</label> <input type="text" name="indirizzo" id="indirizzo" size="49" maxlength="50" /> <br /> <br />
        <label>Citt&agrave;</label> <input type="text" name="citta" id="citta" maxlength="50" />
        <label>Provincia</label> <input type="text" name="provincia" id="provincia" size="1" maxlength="2" />
        <label>CAP</label> <input type="text" name="cap" id="cap" size="4" maxlength="5" /> <br /> <br />
    </fieldset>
    <br />
    <fieldset><legend>Gruppo utente</legend>
        <br />
        <label>Gruppo</label> 
        <select name="gruppo">
            <option value="1">Bibliotecario</option>
            <option value="2" selected="selected">Utente Registrato</option>
        </select>
    </fieldset>
    <br />
    <input type="submit" value="Registrazione" name="Registrazione" /> 
    <input type="reset" value="Reset" name="Cancella" />
    </div>
</form>