<h2 class="page_title"> Ricerca utente </h2>
<#if (messaggio??)>
    <div class="messaggio">
        <p><strong>${messaggio}</strong></p>
    </div>
    <div><br /></div>
</#if>
<form action="RicercaUtente" method="post" enctype="multipart/form-data" id="form_ricerca_utente">
    <div>
    <fieldset><legend>Dati utente</legend>
        <br />
        <label>Username</label> <input type="text" name="ricerca_utente_username" id="ricerca_utente_username" maxlength="25" /> <br /> <br />
    </fieldset> <br />
    <input type="submit" value="Ricerca Utente" name="Ricerca Utente" /> 
    <input type="reset" value="Reset" name="Cancella" />
    </div>
</form>