<h2> Sistema di Autenticazione </h2>
<p> Usa il tuo username e la tua password qui sotto per fare il Login. </p>
<p> Se non sei ancora registrato, puoi registrarti seguendo questo link: <a href="Registrazione">Registrati</a>
<form id="form_login" action="Login" method="post" enctype="multipart/form-data">
    <fieldset><legend>Dati di autenticazione</legend>
        <br />
        <label>Username</label> <input type="text" name="username" id="user" /> <br /> <br />
        <label>Password</label> <input type="password" name="password" id="pass" />
    </fieldset> <br />
    <input type="submit" value="Login" name="Login" /> 
    <input type="reset" value="Cancella Modulo" name="Cancella" />
</form>