<h2 class="page_title"> Homepage </h2>
<div id="alert">
<#if (stato_log??)>
<#if bibliotecario>
<p>Ciao, come bibliotecario potrai registrare un Prestito ad un Utente (nella Scheda di dettaglio del Libro)!</p>
<p>Inoltre hai a disposizione la sezione <a href="PrestitiTotali">Lista Prestiti</a> dove puoi vedere tutti i libri in prestito e anche i libri la cui data di restituzione &egrave; scaduta! </p>
<p>Hai a disposizione anche un Pannello Bibliotecario (<strong>Backoffice</strong>), sotto il men&ugrave; a sinistra, tramite il quale puoi inserire e modificare tutti i dati associati ai libri! </p>
<#else>
<p>Ciao, come utente registrato potrai effettuare ricerche nel sito, visualizzare schede dettaglio dei libri, vedere i libri che hai in prestito e le relative date di rinconsegna.</p> 
<p>I libri la cui data di riconsegna &egrave; stata superata sono evidenziati!</p>
<p>Inoltre lei ha a disposizione la sezione <a href="Storico">Storico</a> in cui pu&ograve; vedere i volumi gi&agrave; presi in prestito e restituiti!</p>
</#if>
<#else>
<p>Ciao, come utente anonimo potrai effettuare ricerche nel sito e visualizzare schede dettaglio dei libri! </p>
<p>Effettua una <a href="Login">Login</a> per accedere a tutte le funzionalit&agrave;!</p>
</#if>
</div>
<#if (stato_log??)>
    <#if !bibliotecario>
    <div class="homepage_book"> 
        <p><strong>Libri da riconsegnare:</strong></p>
        <#if (libri_da_riconsegnare??)>
            <ul>
            <#list libri_da_riconsegnare as libro_da_riconsegnare>
                <#if libro_da_riconsegnare.expired>
                <li style="color:red"> <strong>PRESTITO SCADUTO</strong> - <em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${libro_da_riconsegnare.volume.libro.isbn}">${libro_da_riconsegnare.volume.libro.titolo}</a> - <em>Data prestito:</em> ${libro_da_riconsegnare.dataPrestito?date} - <em>Dovevi restituirlo entro il:</em> ${libro_da_riconsegnare.dataPresuntaRestituzione?date}</li>
                <#else>
                <li><em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${libro_da_riconsegnare.volume.libro.isbn}">${libro_da_riconsegnare.volume.libro.titolo}</a> - <em>Data prestito:</em> ${libro_da_riconsegnare.dataPrestito?date} - <em>Restituire entro il:</em> ${libro_da_riconsegnare.dataPresuntaRestituzione?date}</li>
                </#if>
            </#list>
            </ul>
        <#else>
            <p> Nessun libro da riconsegnare nella biblioteca </p>
        </#if>
    </div>
    <br />
    </#if>
</#if>
<div class="homepage_book"> 
    <p><strong>Ultimi libri aggiunti alla biblioteca:</strong></p>
    <#if (libri??)>
    <ul>
    <#list libri as libro>
        <li><a href="SchedaDettaglioLibro?isbn=${libro.isbn}">${libro.titolo}</a> - <i>Aggiunto il:</i> ${libro.dataIns?date}</li>
    </#list>
    </ul>
    <#else>
        <p> Nessun libro presente nella biblioteca </p>
    </#if>
</div>
<br />
<div class="homepage_book"> 
    <p><strong>Libri maggiormente prestati:</strong></p>
    <#if (libriprestati??)>
    <ul>
    <#list libriprestati as libroprestato>
        <li><a href="SchedaDettaglioLibro?isbn=${libroprestato.isbn}">${libroprestato.titolo}</a> </li>
    </#list>
    </ul>
    <#else>
        <p> Nessun libro prestato </p>
    </#if>
</div>