<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="style/style.css" type="text/css"/>
        <link rel="stylesheet" href="style/menu.css" type="text/css"/>
        <link rel="stylesheet" href="style/tooltip.css" type="text/css"/>
        <link rel="SHORTCUT ICON" href="img/libro.gif" type="image/x-icon" />
        <script type="text/javascript" src="javascript/controlli_form.js"></script>
        <title>LibriOnLine - ${title}</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
        <meta name="description" content="Biblioteca LibriOnLine" />
        <meta name="keywords" content="biblioteca,librionline,libri,libro,italy" />
        <meta content="IT" http-equiv="Content-Language" />
    </head>
    <body>
        <div id="layout">
            <#include "layout_header.ftl.html">
            <#include "layout_menu.ftl.html">
            <#include "layout_right.ftl.html">
            <#include "layout_center.ftl.html">
            <#include "layout_footer.ftl.html">
        </div>	
    </body>
</html>