<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="style/style.css" type="text/css"/>
        <link rel="stylesheet" href="style/tooltip.css" type="text/css"/>
        <link rel="SHORTCUT ICON" href="img/libro.gif" type="image/x-icon" />
        <script type="text/javascript" src="javascript/controlli_form.js"></script>
        <title>LibriOnLine - ${title}</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
        <meta name="description" content="Biblioteca LibriOnLine" />
        <meta name="keywords" content="biblioteca,librionline,libri,libro,italy" />
        <meta content="IT" http-equiv="Content-Language" />
    </head>
    <body>
        <div id="layout">
            <div id="header">
                <div id="header_menu">
                       <a id="login" href="Login">
                           <#if (stato_log??)>
                           <strong>${stato_log}</strong>
                           <#else>
                           <strong>Login</strong>
                           </#if>
                       </a>
                </div>
                <div id="header_logo"> 
                    <a id="titolo_header" href="Home"><img src="img/header2.png" alt="LibriOnLine" /></a>
                </div>
            </div>
            <div class="menu">
                <div class="title">Navigazione</div>
                    <ul>
                        <li><a href="Home">Homepage</a></li>
                        <li><a href="Libri">Libri</a></li>
                    </ul>
                <br /> <br /> <br />
                <#if (stato_log??)>
                <div class="title">Pannello ${tipologia_utente}</div>
                    <ul>
                        <#if bibliotecario>
                        <li><a href="Registrazione">Registra Utente</a></li>
                        <li><a href="InserisciLibro">Inserisci Libro</a></li>
                        <li><a href="InserisciAutore">Inserisci Autore</a></li>
                        <li><a href="InserisciTag">Inserisci Tag</a></li>
                        <#else>
                        <li><a href="Storico">Storico</a></li>
                        </#if>
                    </ul>
                </#if>
            </div>
            <div id="right">
                <div id="title">Ricerca</div>
                <br />
                <form id="form_ricerca_base" method="get" action="Ricerca" >
                    <div>
                    <label>Titolo del libro:</label>
                    <input type="text" name="titolo" id="titolo" size="16" /> <br /> <br />
                    <input type="submit" value="Ricerca" name="Invia" /> 
                    <input type="reset" value="Reset" name="Cancella" />
                    </div>
                </form>
                <br />
                <div id="ricerca_avanzata">
                    <a href="Ricerca">Ricerca avanzata</a>
                </div>
                <hr />
            </div>
            <div id="center">
                <div id="center_menu">
                    ${navigazione!"Navigazione"}
                </div>
                <div id="center_body">
                    
                    <#include content_tpl>
                    
                </div>
            </div>
            <div id="footer">
                Copyright &copy; 2011 LibriOnLine <br />
                <em>${defaults.author}</em> <br /> 
                Pagina compilata il ${compiled_on?datetime}
            </div>
        </div>	
    </body>
</html>