<div id="right">
    <div id="title">Ricerca</div>
    <br />
    <form id="form_ricerca_base" method="get" action="Ricerca" >
        <div>
        <label>Ricerca veloce:</label>
        <input type="text" name="titolo" id="titolo" size="16" /> <br /> <br />
        <input type="submit" value="Ricerca" name="Invia" /> 
        <input type="reset" value="Reset" name="Cancella" />
        </div>
    </form>
    <br />
    <div id="ricerca_avanzata">
        <a href="Ricerca">Ricerca avanzata</a>
    </div>
<hr />
</div>