<div class="menu">
<div class="title">Navigazione</div>
<ul>
    <li><a href="Home">Homepage</a></li>
    <li><a href="Libri">Libri</a></li>
</ul>
<#if (stato_log??)>
<div class="title">Pannello ${tipologia_utente}</div>
<ul>
    <#if bibliotecario>
    <li><a href="Registrazione">Registra Utente</a></li>
    <li><a href="VisualizzaUtente">Modifica Utente</a></li>
    <li><a href="PrestitiTotali">Prestiti In Corso</a></li>
    <li><a href="RicercaUtente">Chiudi Prestito</a></li>
    <li><a href="Inserisci">Inserisci<!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
             <#include "layout_menu_inserisci.ftl.html">
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
    <li><a href="Visualizza">Modifica<!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
            <#include "layout_menu_visualizza.ftl.html">
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
    <#else>
    <li><a href="PrestitiInCorso">Prestiti In Corso</a></li>
    <li><a href="Storico">Storico</a></li>
    </#if>
</ul>
</#if>
</div>