<h2 class="page_title"> Prestiti Presenti </h2>

<#if (stato_log??)>
    <#if bibliotecario>
    <#if (prestitiattivi??)>
    <#list prestitiattivi as prestitoattivo>
    <ul>
        <li><em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitoattivo.volume.libro.isbn}">${prestitoattivo.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitoattivo.dataPrestito?date} - <em>Restituire entro il:</em> ${prestitoattivo.dataPresuntaRestituzione?date} - <em>Utente:</em> ${prestitoattivo.user.username}</li>
    </ul>
    </#list>
    <#else>
        <p> Nessun prestito del libro attivo </p>
    </#if>
    </#if>
</#if>