<h2 class="page_title"> Prestiti Totali </h2>

<#if (stato_log??)>
    <#if bibliotecario>
    <#if (prestititotali??)>
    <#list prestititotali as prestitototale>
    <#if prestitototale.expired>
    <ul>
        <li style="color:red"> <strong>PRESTITO SCADUTO</strong> - <em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitototale.volume.libro.isbn}">${prestitototale.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitototale.dataPrestito?date} - <em>Doveva restituirlo entro il:</em> ${prestitototale.dataPresuntaRestituzione?date} - <em>Utente:</em> <a href="SchedaUtente?id=${prestitototale.user.id}">${prestitototale.user.username}</a></li>
    </ul>
    <#else>
    <ul>
        <li><em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitototale.volume.libro.isbn}">${prestitototale.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitototale.dataPrestito?date} - <em>Restituire entro il:</em> ${prestitototale.dataPresuntaRestituzione?date}</li>
    </ul>
    </#if>
    </#list>
    <#else>
        <p> Nessun prestito </p>
    </#if>
    </#if>
</#if>