<h2 class="page_title"> Prestiti Passati </h2>

<#if (stato_log??)>
    <#if bibliotecario>
    <#if (prestitipassivi??)>
    <#list prestitipassivi as prestitopassivo>
    <ul>
        <li><em>Libro restituito:</em> <a href="SchedaDettaglioLibro?isbn=${prestitopassivo.volume.libro.isbn}">${prestitopassivo.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitopassivo.dataPrestito?date} - <em>Data Restutuzione:</em> ${prestitopassivo.dataRestituzione?date} - <em>Utente:</em> <a href="SchedaUtente?id=${prestitopassivo.user.id}">${prestitopassivo.user.username}</a></li>
    </ul>
    </#list>
    <#else>
        <p><em> Nota: Nessun c'&egrave; stato nessun prestito passato del libro</em></p>
    </#if>
    </#if>
</#if>