<h2 class="page_title"> Risultati ricerca avanzata </h2>

<#if (libri??)>
    <ul>
        <#list libri as libro>
            <li><a href="SchedaDettaglioLibro?isbn=${libro.isbn}">${libro.titolo}</a> -
             <#list libro.autoreCollection as autore>
                ${autore.nome} ${autore.cognome}
            <#if autore_has_next>, </#if>
            </#list>
            - ${libro.editore} - ${libro.annoPubblicazione}</li> 
        </#list>
    </ul>
<#else>
    <p><em>Nota: Nessun libro trovato </em></p> 
</#if>