<h2 class="page_title"> Scheda Utente </h2>
<#if (stato_log??)>
    <#if bibliotecario>
        <#if (schedautente??)>
            <p><strong>Username:</strong> ${schedautente.username}</p>
            <p><strong>Email:</strong> ${schedautente.email}</p>
            <p><strong>Telefono: </strong> ${schedautente.telefono}</p>
            <p><strong>Nome:</strong> ${schedautente.nome}</p>
            <p><strong>Cognome:</strong> ${schedautente.cognome}</p>
            <p><strong>Codice Fiscale:</strong> ${schedautente.codiceFiscale}</p>
            <p><strong>Indirizzo:</strong> ${schedautente.indirizzo}</p>
            <p><strong>Citt&agrave;</strong> ${schedautente.citta}</p>
            <p><strong>Provincia:</strong> ${schedautente.provincia}</p>
            <p><strong>CAP:</strong> ${schedautente.cap}</p>
        </#if>
    </#if>
</#if>