<h2 class="page_title"> Scheda Utente </h2>
<#if (stato_log??)>
    <#if bibliotecario>
        <#if (schedautente??)>
            <p><strong>Username:</strong> ${schedautente.username}</p>
            <p><strong>Email:</strong> ${schedautente.email}</p>
            <p><strong>Telefono: </strong> ${schedautente.telefono}</p>
            <p><strong>Nome:</strong> ${schedautente.nome}</p>
            <p><strong>Cognome:</strong> ${schedautente.cognome}</p>
            <p><strong>Codice Fiscale:</strong> ${schedautente.codiceFiscale}</p>
            <p><strong>Indirizzo:</strong> ${schedautente.indirizzo}</p>
            <p><strong>Citt&agrave;</strong> ${schedautente.citta}</p>
            <p><strong>Provincia:</strong> ${schedautente.provincia}</p>
            <p><strong>CAP:</strong> ${schedautente.cap?c}</p>
            <br />
            <p><strong>Prestiti attivi:</strong></p>
            <#if prestitiattivi??>
            <div id="page_container_schedautenteprestiti" class="container">
            <div class="page_navigation"></div>
            <ul class="content">
            <#list prestitiattivi as prestitoattivo>
            <#if prestitoattivo.expired>
                <li style="color: red;"><strong>PRESTITO SCADUTO</strong> - <em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitoattivo.volume.libro.isbn}">${prestitoattivo.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitoattivo.dataPrestito?date} - <em>Doveva restituirlo entro il:</em> ${prestitoattivo.dataPresuntaRestituzione?date} - <a class="prestito_link" href="ChiudiPrestito?id_prestito=${prestitoattivo.id}">Chiudi Prestito</a> </li>
            <#else>
                <li><em>Libro da restituire:</em> <a href="SchedaDettaglioLibro?isbn=${prestitoattivo.volume.libro.isbn}">${prestitoattivo.volume.libro.titolo}</a> - <em>Data prestito:</em> ${prestitoattivo.dataPrestito?date} - <em>Restituire entro il:</em> ${prestitoattivo.dataPresuntaRestituzione?date} - <a class="prestito_link" href="ChiudiPrestito?id_prestito=${prestitoattivo.id}">Chiudi Prestito</a> </li>
            </#if>
            </#list>
            </ul>
            </div>
            <#else>
                <p><em>Nota: Nessun prestito attivo</em></p>
            </#if>
        </#if>
    </#if>
</#if>